
#GameSummaryCard {
    border: solid black 5px;
    border-radius: 10px;
    background-color: rgb(7, 15, 106);
    color: white;
}

.category {
    background-color: rgb(7, 15, 106);
    color: white;
    
}